SOURCE_DB_NAME=adventureworks
SOURCE_DB_USER=adventureworks_user
SOURCE_DB_PASSWORD=adventureworks_dev
SOURCE_DB_PORT=5433

WAREHOUSE_DB_NAME=analytics
WAREHOUSE_DB_USER=analytics_user
WAREHOUSE_DB_PASSWORD=analytics_dev
WAREHOUSE_DB_PORT=5434

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=localhost:9000
MINIO_SECURE=false
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=adventureworks-raw
