SOURCE_DB_NAME=adventureworks
SOURCE_DB_USER=adventureworks_user
SOURCE_DB_PASSWORD=adventureworks_dev
SOURCE_DB_PORT=5433

WAREHOUSE_DB_NAME=analytics
WAREHOUSE_DB_USER=analytics_user
WAREHOUSE_DB_PASSWORD=analytics_dev
WAREHOUSE_DB_PORT=5434
